<div class="text-center py-5" *ngIf="!loaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="loaded">
    <div *ngFor="let anime of animeList" class="col-md-6 col-lg-3 py-2 py-md-3 py-lg-4">
        <div class="card bg-dark text-white card-shadow h-100" (click)="openAnimeDetail(anime)">
            <img src="{{ anime.imagePath }}" alt="{{ anime.name }} image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"> {{ anime.name }}</h5>
                <p class="card-text">{{ anime.description }} </p>
            </div>
        </div>
    </div>
</div>