<div class="edit-anime py-2 py-md-5 px-lg-5 color-shade">
    <div class="text-center py-4" *ngIf="!loaded">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="loaded">
        <div class="row">
            <div class="col-md-12 px-0">
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    <div class="row form-group">
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Name of the Anime: </label>
                                <div class="col-md-9 my-auto">
                                    <input type="text" name="" id="name" placeholder="Anime Name" class="form-control"
                                        formControlName="name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Source of the Anime: </label>
                                <div class="col-md-9 my-auto">
                                    <input type="text" name="" id="" placeholder="Anime Source" class="form-control"
                                        formControlName="source">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Anime Description : </label>
                                <div class="col-md-9 my-auto">
                                    <textarea placeholder="Anime Description" class="form-control"
                                        formControlName="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Youtube Trailer URL : </label>
                                <div class="col-md-9 my-auto">
                                    <input type="text" name="" id="" placeholder="Youtube Trailer URL"
                                        class="form-control" formControlName="youtubeUrl">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Anime Air Start Year : </label>
                                <div class="col-md-9 my-auto">
                                    <input type="text" name="" id="" placeholder="Anime Air Start Year"
                                        class="form-control" formControlName="airStartDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Anime Air End Year : </label>
                                <div class="col-md-9 my-auto">
                                    <input type="text" name="" id="" placeholder="Anime Air End Year"
                                        class="form-control" formControlName="airEndDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button class="btn btn-outline-dark" (click)="addHosts()" type="button">Add Places to
                                Watch?</button>
                            <div class="row pt-3" formArrayName="hosts">
                                <div class="col-md-4 px-0 pr-md-2 pt-3"
                                    *ngFor="let host of hosts.controls; let i = index;">
                                    <label>Where to Watch :</label>
                                    <input type="text" class="form-control" [formControlName]="i">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 px-0 my-auto">
                            <div class="row">
                                <label for="" class="col-md-3 col-form-label">Image Location : </label>
                                <div class="col-md-9">
                                    <input type="text" (input)="changeFile($event)" class="form-control"
                                        placeholder="Image Hosted Path" formControlName="image" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4 pt-3 pt-md-0 mx-auto">
                            <div *ngIf="imgPath != null">
                                <img [src]="imgPath" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">

                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button class="btn btn-outline-dark" (click)="addImages()" type="button">Add More
                                Images?</button>
                            <div class="row pt-3" formArrayName="images">
                                <div class="col-md-4 col-lg-3 px-0 pr-md-2 pt-3"
                                    *ngFor="let image of images.controls; let i = index;">
                                    <label>Image Path :</label>
                                    <input type="text" class="form-control" [formControlName]="i">
                                    <img src="{{ image.value }}" alt="" class="img-fluid pt-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-dark">Save</button>
                        </div>
                        <div class="col-md-12 form-group text-center pt-2">
                            <span [ngClass]="updated ? 'text-success' : 'text-danger'">
                                {{ message }}
                            </span>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
        <div class="row seasons pt-4">
            <div class="col-7">
                <h3>Seasons</h3>
            </div>
            <div class="col-5 text-right">
                <button class="btn btn-outline-dark" (click)="addSeason()">Add Seasons?</button>
            </div>
            <div class="row w-100">
                <div class="col-md-6 pt-3 px-0" *ngFor="let season of anime.seasons">
                    <div class="row">
                        <label class="col-5 font-weight-bold">Season {{ season.number }}</label>
                        <div class="col-7 text-left">
                            <button class="btn btn-outline-dark" (click)="editSeason(season.number)">Edit
                                Season?</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>