<div>
    <div class="text-center py-4" *ngIf="!loaded">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="loaded">
        <div class="row color-shade py-5">
            <div class="col-6 pb-4">
                <a [routerLink]="['']" class="btn btn-dark back-button"><i class="fa fa-chevron-left"></i><span
                        class="back-text pl-3">Back</span></a>
            </div>
            <div class="col-6 pb-4 text-right" *ngIf="loggedIn">
                <button (click)="editAnime()" class="btn btn-outline-dark edit-button"><i class="fa fa-edit"></i><span
                        class="back-text pl-3">Edit</span></button>
            </div>
            <div class="col-lg-8 py-4">
                <img src="{{ anime.imagePath }}" alt="{{ anime.name }} image" class="img-fluid">
            </div>
            <div class="col-lg-4 text-center my-auto">
                <h2 class="">{{ anime.name }}</h2>
                <p class="">{{ anime.description }}</p>
                <div class="row">
                    <div class="col-6 text-right">
                        <p>IMDB Source : </p>
                    </div>
                    <div class="col-6 text-left">
                        <p><a href="{{ anime.source }}" target="_blank" class="text-success">{{ anime.name }}</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">
                        <p>Air Start Year : </p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{ anime.airStartDate }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">
                        <p>Air End Year : </p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{ anime.airEndDate }}</p>
                    </div>
                </div>
                <div class="row" *ngIf="anime.whereToWatch != null && anime.whereToWatch.length !== 0">
                    <div class="col-6 text-right">
                        <p>Watch Now at : </p>
                    </div>
                    <div class="col-6 text-left">
                        <label for="" *ngFor="let host of anime.whereToWatch" class="d-block">
                            <a href="{{ host }}" target="_blank" class="text-success">{{ getHosting(host) }}</a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4"
            *ngIf="anime.images !== null || (anime.youtubeTrailerUrl !== null && anime.youtubeTrailerUrl !== '')">
            <div class="col-12 pb-4">
                <h3>Gallery :</h3>
            </div>
            <div class="col-lg-6" *ngIf="anime.images !== null">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{active : image === anime.images[0]}"
                            *ngFor="let image of anime.images">
                            <img src="{{ image }}" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0"
                *ngIf="anime.youtubeTrailerUrl !== null && anime.youtubeTrailerUrl !== ''">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="anime.youtubeTrailerUrl | safe"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <div class="seasons py-4" *ngIf="anime.seasons.length !== 0">
            <div class="row">
                <div class="col-12">
                    <h3>Episode Catalogue :</h3>
                </div>
                <div class="col-12 py-3" *ngFor="let season of anime.seasons">
                    <div class="color-shade py-3 px-3 pointer" data-toggle="collapse"
                        attr.data-target="#season{{ season.number }}" role="button" aria-expanded="false"
                        aria-controls="multiCollapseExample1" (click)="rotate($event,season.number)">
                        <h4 class="text-dark my-0">Season {{ season.number }} <span class="float-right"><i
                                    class="fa fa-chevron-down rotate" id="season{{ season.number }}-chevron"></i></span>
                        </h4>
                    </div>
                    <div class="col-12 collapse details px-0" id="season{{season.number}}">
                        <div class="row season-detail-main">
                            <div class="col-md-6 col-lg-3 py-3 season-detail d-flex"
                                *ngFor="let episode of season.episodes">
                                <strong><label>Episode {{ episode.number }} : {{ episode.title | uppercase }}
                                    </label></strong>
                                <p class="mb-auto pb-3 pt-2">{{ episode.description }}</p>
                                <a href="{{ episode.url }}" target="_blank" class="btn btn-dark back-button mx-auto"
                                    *ngIf="episode.url !== '' && episode.url !== null">Watch
                                    Now at
                                    KissAnime!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>