.back-button {
    width: 150px;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
}

.back-button:hover {
    background-color: #DEDEDE;
    color: #4B4B4B;
}

.edit-button {
    width: 150px;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
}

.back-icon {
    width: 20px;
}

.back-text {
    font-size: 20px;
}

.details {
    border: 1px solid #dedede;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
    background-color: #F6F6F6;
}

.details:hover {
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.5)
}

.pointer {
    cursor: pointer;
}

.color-shade {
    background-color: #dedede;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
}

.color-shade:hover {
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.5)
}

.season-detail {
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.rotate {
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {
    .season-detail {
        min-height: 250px;
    }
}