.back-button {
    width: 150px;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
}

.back-button:hover {
    background-color: #DEDEDE;
    color: #4B4B4B;
}

.edit-button {
    width: 150px;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
}

.back-icon {
    width: 20px;
}

.back-text {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.season-detail {
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.2);
}

.season-detail:hover {
    box-shadow: 0 2px 4px 0 rgba(44, 42, 41, 0.5);
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
}

/* .season-detail-main {
    max-height: 600px;
    overflow-y: auto;
} */

.rotate {
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {}